# COMP30830 - Software Engineering
# Project: DublinBikes
Group work by:
- **Avik Saha** (18200379)
- **Rafael Martins** (18200630)
- **Giovanni Facchinetti** (18202941)

# Machine Learning prediction model
In this notebook we develop a ML model to predict two key values that are functional to our web application:
- **number of available bikes** for a selected station
- **number of available bike stands** for a selected station

The model is trained on data fetched from an Amazon RDS database, where we store historical data referring to:
- real-time information that Dublin Bikes makes available through their web API
- Dublin weather information from OpenWeather, obtained by a web API

**N.B.**: all database data are kept up-to-date.

## Getting started
First of all, we need to import Python packages that are required to our model, as well as fetching the data from the Amazon RDS database.
### Import required packages
A number of Python packages are required for our model in order to work, so we import them in our Notebook.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
pd.options.mode.chained_assignment=None
%matplotlib inline
import os
import pymysql
import pandas as pd
import sys

/Users/giovannifacchinetti/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Connect to Amazon RDS database
After having stored all the necessary credentials in specific variables, we connect to the database providing error-handling in case of connection issues.

In [2]:
# Declare and initialize database connection credentials
host = 'dublinbikes.cb2pu3bkmmlf.us-east-2.rds.amazonaws.com'
user = 'master'
password = 'master-50'
db = 'dublinbikes'

# Attempt connection to database
# Print a statement on the screen to check whether the connection is working
try:
    con = pymysql.connect(host = host, user = user, password = password, db = db, use_unicode = True, charset = 'utf8')
    print('+=========================+')
    print('|  CONNECTED TO DATABASE  |')
    print('+=========================+')
    
# Exit if connection not working   
except Exception as e:
        sys.exit(e)

+=========================+
|  CONNECTED TO DATABASE  |
+=========================+

### Data fetching

#### Bikes information
We store real-time data from Dublin Bikes in a relation named **"availability"** in the RDS database schema.

We fetch Pandas dataframe object and we examine it.

**N.B.**:We started scrapping the bikes data on 22/02/2019

In [3]:
# Create dataframe and store data running SQL query
df = pd.read_sql_query("SELECT * FROM dublinbikes.availability", con)

# Examine dataframe object, show first 10 rows
df.head(10)

,ID,number,available_bikes,available_bike_stands,last_update,day_of_week,hour_d,mins,date_of_fetching
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22

In [4]:
# Show number of rows and columns
print("The dataset has %s rows and %s columns." % df.shape)

The dataset has 648733 rows and 9 columns.

Since 113 stations provide real-time information, we show the first 3 entries in our dataframe (first 113*3 = 339 rows)

In [5]:
# Show first 3 real-time bikes entries
df.head(339)

,ID,number,available_bikes,available_bike_stands,last_update,day_of_week,hour_d,mins,date_of_fetching
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22
10,11,13,0,30,2147483647,Friday,22,13,2019-02-22
11,12,43,26,4,2147483647,Friday,22,13,2019-02-22
12,13,81,10,30,2147483647,Friday,22,13,2019-02-22
13,14,31,17,2,2147483647,Friday,22,13,2019-02-22
14,15,98,23,17,2147483647,Friday,22,13,2019-02-22
15,16,14,29,1,2147483647,Friday,22,13,2019-02-22
16,17,23,29,1,2147483647,Friday,22,13,2019-02-22
17,18,106,8,32,2147483647,Friday,22,13,2019-02-22
18,19,112,22,8,2147483647,Friday,22,13,2019-02-22
19,20,68,16,24,2147483647,Friday,22,13,2019-02-22
20,21,74,27,3,2147483647,Friday,22,13,2019-02-22
21,22,87,18,20,2147483647,Friday,22,13,2019-02-22
22,23,84,28,2,2147483647,Friday,22,13,2019-02-22
23,24,90,0,40,2147483647,Friday,22,13,2019-02-22
24,25,11,0,30,2147483647,Friday,22,13,2019-02-22
25,26,17,0,20,2147483647,Friday,22,13,2019-02-22
26,27,45,9,21,2147483647,Friday,22,13,2019-02-22
27,28,114,0,40,2147483647,Friday,22,13,2019-02-22
28,29,72,14,17,2147483647,Friday,22,13,2019-02-22
29,30,63,19,16,2147483647,Friday,22,13,2019-02-22
...,...,...,...,...,...,...,...,...,...
309,310,26,7,13,2147483647,Friday,22,28,2019-02-22
310,311,65,1,39,2147483647,Friday,22,28,2019-02-22
311,312,15,5,11,2147483647,Friday,22,28,2019-02-22
312,313,86,38,0,2147483647,Friday,22,28,2019-02-22
313,314,35,7,23,2147483647,Friday,22,28,2019-02-22
314,315,10,16,0,2147483647,Friday,22,28,2019-02-22
315,316,100,11,14,2147483647,Friday,22,28,2019-02-22
316,317,24,18,2,2147483647,Friday,22,28,2019-02-22
317,318,64,17,23,2147483647,Friday,22,28,2019-02-22
318,319,109,24,5,2147483647,Friday,22,28,2019-02-22
319,320,85,16,19,2147483647,Friday,22,28,2019-02-22
320,321,107,18,22,2147483647,Friday,22,28,2019-02-22
321,322,33,21,2,2147483647,Friday,22,28,2019-02-22
322,323,44,3,27,2147483647,Friday,22,28,2019-02-22
323,324,89,3,37,2147483647,Friday,22,28,2019-02-22
324,325,57,0,23,2147483647,Friday,22,28,2019-02-22
325,326,80,28,12,2147483647,Friday,22,28,2019-02-22
326,327,41,0,20,2147483647,Friday,22,28,2019-02-22
327,328,3,12,8,2147483647,Friday,22,28,2019-02-22
328,329,46,18,2,2147483647,Friday,22,28,2019-02-22
329,330,40,0,21,2147483647,Friday,22,28,2019-02-22
330,331,29,18,11,2147483647,Friday,22,28,2019-02-22
331,332,70,3,25,2147483647,Friday,22,28,2019-02-22
332,333,103,9,31,2147483647,Friday,22,28,2019-02-22
333,334,28,11,19,2147483647,Friday,22,28,2019-02-22
334,335,39,2,18,2147483647,Friday,22,28,2019-02-22
335,336,83,39,1,2147483647,Friday,22,28,2019-02-22
336,337,92,39,1,2147483647,Friday,22,28,2019-02-22
337,338,21,11,19,2147483647,Friday,22,28,2019-02-22
338,339,88,18,12,2147483647,Friday,22,28,2019-02-22

#### Weather information
We store weather data from OpenWeather in a relation named **"weather"** in the RDS database schema.

We fetch Pandas dataframe object and we examine it.

**N.B.**:We started scrapping the weather data on 22/02/2019

In [6]:
# Create dataframe and store data running SQL query
df_2 = pd.read_sql_query("SELECT * FROM dublinbikes.weather", con)

# Examine dataframe object, show first 50 rows
df_2.head(50)

,ID,temperature,day_of_week,wind_speed,cloud_coverage,hour_d,mins,date_of_fetching
0,1,12.58,Friday,4.6,Clouds,22,13,2019-02-22
1,2,11.51,Friday,7.7,Clouds,22,28,2019-02-22
2,3,11.51,Friday,7.7,Clouds,22,43,2019-02-22
3,4,11.51,Friday,7.7,Clouds,22,58,2019-02-22
4,5,11.58,Friday,7.2,Clouds,23,13,2019-02-22
5,6,11.59,Friday,7.2,Clouds,23,28,2019-02-22
6,7,11.51,Friday,7.7,Clouds,23,43,2019-02-22
7,8,11.57,Friday,7.7,Clouds,23,58,2019-02-22
8,9,11.57,Saturday,7.7,Clouds,0,13,2019-02-23
9,10,11.58,Saturday,7.7,Clouds,0,28,2019-02-23
10,11,11.51,Saturday,5.7,Clouds,0,43,2019-02-23
11,12,11.57,Saturday,5.7,Clouds,0,58,2019-02-23
12,13,11.57,Saturday,5.7,Clouds,1,13,2019-02-23
13,14,11.51,Saturday,6.7,Clouds,1,28,2019-02-23
14,15,11.51,Saturday,6.7,Clouds,1,43,2019-02-23
15,16,11.57,Saturday,7.7,Clouds,1,58,2019-02-23
16,17,11.58,Saturday,7.7,Clouds,2,13,2019-02-23
17,18,11.02,Saturday,7.7,Clouds,2,28,2019-02-23
18,19,11.02,Saturday,7.7,Clouds,2,43,2019-02-23
19,20,11.57,Saturday,6.7,Clouds,2,58,2019-02-23
20,21,11.57,Saturday,6.7,Clouds,3,13,2019-02-23
21,22,11.51,Saturday,7.2,Clouds,3,28,2019-02-23
22,23,11.51,Saturday,7.2,Clouds,3,43,2019-02-23
23,24,11.51,Saturday,7.2,Clouds,3,58,2019-02-23
24,25,11.58,Saturday,7.2,Clouds,4,13,2019-02-23
25,26,11.59,Saturday,7.2,Clouds,4,28,2019-02-23
26,27,11.02,Saturday,7.7,Clouds,4,43,2019-02-23
27,28,11.02,Saturday,7.7,Clouds,4,58,2019-02-23
28,29,11.15,Saturday,8.2,Clouds,5,13,2019-02-23
29,30,11.17,Saturday,8.2,Clouds,5,28,2019-02-23
30,31,11.02,Saturday,8.7,Clouds,5,43,2019-02-23
31,32,11.02,Saturday,8.7,Clouds,5,58,2019-02-23
32,33,11.15,Saturday,8.7,Clouds,6,14,2019-02-23
33,34,11.17,Saturday,8.7,Clouds,6,29,2019-02-23
34,35,11.02,Saturday,8.7,Clouds,6,44,2019-02-23
35,36,11.13,Saturday,9.3,Clouds,6,59,2019-02-23
36,37,11.15,Saturday,9.3,Clouds,7,14,2019-02-23
37,38,10.51,Saturday,8.2,Clouds,7,29,2019-02-23
38,39,10.51,Saturday,8.2,Clouds,7,44,2019-02-23
39,40,10.57,Saturday,6.7,Clouds,7,59,2019-02-23
40,41,10.57,Saturday,6.7,Clouds,8,14,2019-02-23
41,42,11.02,Saturday,8.2,Clear,8,29,2019-02-23
42,43,11.02,Saturday,8.2,Clear,8,44,2019-02-23
43,44,11.14,Saturday,5.7,Clear,8,59,2019-02-23
44,45,11.15,Saturday,5.7,Clear,9,14,2019-02-23
45,46,11.51,Saturday,4.1,Clear,9,29,2019-02-23
46,47,11.51,Saturday,4.1,Clear,9,44,2019-02-23
47,48,12.00,Saturday,4.1,Clouds,9,59,2019-02-23
48,49,12.00,Saturday,4.1,Clouds,10,14,2019-02-23
49,50,12.49,Saturday,4.1,Clouds,10,29,2019-02-23

In [7]:
# Show number of rows and columns
print("The dataset has %s rows and %s columns." % df_2.shape)

The dataset has 5519 rows and 8 columns.

## Data preparation
### Unique values functional to merging
We need to **merge the bikes and weather dataframes**.<br/>
Since we have stored in the database a **scraping-timestamp** for each single row in all our relations, we determine the **unique minutes** of fetching (we assume the hours are fully represented 0-24 as data are fetched roughly every 15 minutes).

In [10]:
print("Unique values for:\n- mins in weather:", pd.unique(df_2.mins.ravel()))

Unique values for:
- mins in weather: [13 28 43 58 14 29 44 59 30 45  0 15 31 46  1 16 32 47  2 17  3 18 33 48
 19 34 49  4  5 20 35 50 21 36 51  6  7 22 37 52 23 38 53  8 24 39 54  9
 10 25 40 55 11 26 41 56 57 12 27 42]

In [11]:
print("Unique values for:\n- mins in availability:", pd.unique(df.mins.ravel()))

Unique values for:
- mins in availability: [13 21 28 35 42 49 56  3 10 18 25 32 39 46 53  0  8 15 22 29 36 43 50 57
  5 12 19 26 33 40 48 55  2  9 16 23 30 38 45 52 59  6 20 17  7 47 37 27
  4 11  1 51 58 41 24 31 14 54 44 34]

### Merge dataframes
Now that we have unique values in common between the two dataframes in terms of scraping timestamps (we want the data to be consistent), we **proceed to merge them using a SQL inner join** and store the result in a new dataframe object.

Note the reduction in terms of tuples (rows) from the original bikes dataframe.

In [12]:
# Merge dataframes
mergedStuff = pd.merge(df, df_2, on = ['mins', 'date_of_fetching', 'hour_d'], how = 'inner')
# Show first 2 scraps (oldest) for stations (113*2=226)
mergedStuff.head(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,temperature,day_of_week_y,wind_speed,cloud_coverage
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
10,11,13,0,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
11,12,43,26,4,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
12,13,81,10,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
13,14,31,17,2,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
14,15,98,23,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
15,16,14,29,1,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
16,17,23,29,1,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
17,18,106,8,32,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
18,19,112,22,8,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
19,20,68,16,24,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
20,21,74,27,3,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
21,22,87,18,20,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
22,23,84,28,2,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
23,24,90,0,40,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
24,25,11,0,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
25,26,17,0,20,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
26,27,45,9,21,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
27,28,114,0,40,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
28,29,72,14,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
29,30,63,19,16,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,310,26,7,13,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
197,311,65,1,39,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
198,312,15,5,11,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
199,313,86,38,0,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
200,314,35,7,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
201,315,10,16,0,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
202,316,100,11,14,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
203,317,24,18,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
204,318,64,17,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
205,319,109,24,5,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
206,320,85,16,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
207,321,107,18,22,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
208,322,33,21,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
209,323,44,3,27,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
210,324,89,3,37,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
211,325,57,0,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
212,326,80,28,12,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
213,327,41,0,20,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
214,328,3,12,8,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
215,329,46,18,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
216,330,40,0,21,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
217,331,29,18,11,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
218,332,70,3,25,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
219,333,103,9,31,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
220,334,28,11,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
221,335,39,2,18,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
222,336,83,39,1,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
223,337,92,39,1,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
224,338,21,11,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
225,339,88,18,12,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds

In [13]:
# Show last 2 scraps (most recent) for stations (113*2=226)
mergedStuff.tail(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,temperature,day_of_week_y,wind_speed,cloud_coverage
49268,647717,42,26,4,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49269,647718,30,0,20,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49270,647719,54,28,5,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49271,647720,108,29,11,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49272,647721,56,4,36,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49273,647722,6,11,9,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49274,647723,18,16,14,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49275,647724,32,4,26,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49276,647725,52,26,6,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49277,647726,48,9,31,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49278,647727,13,14,16,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49279,647728,43,28,2,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49280,647729,81,17,23,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49281,647730,31,2,18,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49282,647731,98,27,13,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49283,647732,14,8,22,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49284,647733,23,4,26,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49285,647734,106,6,34,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49286,647735,112,8,22,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49287,647736,68,2,38,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49288,647737,74,12,18,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49289,647738,87,15,23,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49290,647739,84,10,20,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49291,647740,90,1,39,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49292,647741,11,1,29,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49293,647742,17,17,3,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49294,647743,45,10,20,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49295,647744,114,7,33,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49296,647745,72,8,22,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
49297,647746,63,7,27,2147483647,Sunday,20,40,2019-04-14,5511,6.96,Sunday,6.2,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49464,647913,26,12,8,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49465,647914,65,3,37,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49466,647915,15,0,16,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49467,647916,86,13,25,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49468,647917,35,22,8,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49469,647918,10,8,8,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49470,647919,100,0,25,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49471,647920,24,1,19,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49472,647921,64,6,34,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49473,647922,109,19,10,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49474,647923,85,12,23,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49475,647924,107,18,22,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49476,647925,33,12,11,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49477,647926,44,5,25,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49478,647927,89,11,28,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49479,647928,57,6,17,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49480,647929,80,18,22,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49481,647930,41,6,14,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49482,647931,3,7,13,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49483,647932,46,15,5,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49484,647933,40,5,16,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49485,647934,29,27,2,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49486,647935,70,20,8,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49487,647936,103,0,40,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49488,647937,28,30,0,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49489,647938,39,4,16,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49490,647939,83,8,32,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49491,647940,92,33,7,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49492,647941,21,3,27,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds
49493,647942,88,11,19,2147483647,Sunday,20,52,2019-04-14,5512,6.96,Sunday,7.7,Clouds

In [14]:
# Show number of rows and columns of the new joined dataframe
print("The dataset has %s rows and %s columns." % mergedStuff.shape)

The dataset has 49494 rows and 14 columns.

### Dummy coding
We need to incorporate the following information (variables) in our model, but they are not immediately usable as they come in a categorical form:
- **cloud coverage**
- **day of the week**

Thus, we transform them in a **series of dummy variables**. The process is known as "dummy coding".
#### Weather: cloud coverage
To incorporate cloud coverage information in our ML model, we need to identify the unique values representing **cloud coverage** information and create dummy variables for each.

In [16]:
print("Unique values for:\n- cloud coverage in weather:", pd.unique(df_2.cloud_coverage.ravel()))

Unique values for:
- cloud coverage in weather: ['Clouds' 'Clear' 'Rain' 'Fog' 'Drizzle' 'Mist' 'Snow']

#### Timestamp: days of the week
We assume that the unique values for week days are known, we can proceed to dummy coding.

In [17]:
# Create a separate dataframe with days of the week (categorical)
data_input1 = pd.DataFrame(mergedStuff['day_of_week_x'])

# Create a separate dataframe with cloud coverage information (categorical)
data_input2 = pd.DataFrame(mergedStuff['cloud_coverage'])

# Concatenate the two dataframes in the main one
dummy = pd.get_dummies(data_input1)
dummy_2 = pd.get_dummies(data_input2)
mergedStuff = pd.concat([mergedStuff,dummy],axis=1)
mergedStuff = pd.concat([mergedStuff,dummy_2],axis=1)

In [20]:
# Show last two station scraps and check dummy coded columns
mergedStuff.tail(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,...,day_of_week_x_Sunday,day_of_week_x_Thursday,day_of_week_x_Tuesday,day_of_week_x_Wednesday,cloud_coverage_Clear,cloud_coverage_Clouds,cloud_coverage_Drizzle,cloud_coverage_Fog,cloud_coverage_Mist,cloud_coverage_Rain
49268,647717,42,26,4,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49269,647718,30,0,20,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49270,647719,54,28,5,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49271,647720,108,29,11,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49272,647721,56,4,36,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49273,647722,6,11,9,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49274,647723,18,16,14,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49275,647724,32,4,26,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49276,647725,52,26,6,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49277,647726,48,9,31,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49278,647727,13,14,16,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49279,647728,43,28,2,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49280,647729,81,17,23,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49281,647730,31,2,18,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49282,647731,98,27,13,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49283,647732,14,8,22,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49284,647733,23,4,26,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49285,647734,106,6,34,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49286,647735,112,8,22,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49287,647736,68,2,38,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49288,647737,74,12,18,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49289,647738,87,15,23,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49290,647739,84,10,20,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49291,647740,90,1,39,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49292,647741,11,1,29,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49293,647742,17,17,3,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49294,647743,45,10,20,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49295,647744,114,7,33,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49296,647745,72,8,22,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
49297,647746,63,7,27,2147483647,Sunday,20,40,2019-04-14,5511,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49464,647913,26,12,8,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49465,647914,65,3,37,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49466,647915,15,0,16,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49467,647916,86,13,25,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49468,647917,35,22,8,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49469,647918,10,8,8,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49470,647919,100,0,25,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49471,647920,24,1,19,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49472,647921,64,6,34,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49473,647922,109,19,10,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49474,647923,85,12,23,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49475,647924,107,18,22,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49476,647925,33,12,11,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49477,647926,44,5,25,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49478,647927,89,11,28,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49479,647928,57,6,17,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49480,647929,80,18,22,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49481,647930,41,6,14,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49482,647931,3,7,13,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49483,647932,46,15,5,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49484,647933,40,5,16,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49485,647934,29,27,2,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49486,647935,70,20,8,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49487,647936,103,0,40,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49488,647937,28,30,0,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49489,647938,39,4,16,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49490,647939,83,8,32,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49491,647940,92,33,7,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49492,647941,21,3,27,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0
49493,647942,88,11,19,2147483647,Sunday,20,52,2019-04-14,5512,...,1,0,0,0,0,1,0,0,0,0

### Check dataframe state
#### New columns
The new dummy coded variables have been concatenated at the end of the dataframe, so we now check our dataframe shape.

In [21]:
# Show number of rows and columns of the dataframe
print("The dataset has %s rows and %s columns." % mergedStuff.shape)

The dataset has 49494 rows and 27 columns.

#### Data types
As a further check, we analyze the data type in our dataframe.

In [23]:
mergedStuff.dtypes

ID_x                         int64
number                       int64
available_bikes              int64
available_bike_stands        int64
last_update                  int64
day_of_week_x               object
hour_d                       int64
mins                         int64
date_of_fetching            object
ID_y                         int64
temperature                float64
day_of_week_y               object
wind_speed                 float64
cloud_coverage              object
day_of_week_x_Friday         uint8
day_of_week_x_Monday         uint8
day_of_week_x_Saturday       uint8
day_of_week_x_Sunday         uint8
day_of_week_x_Thursday       uint8
day_of_week_x_Tuesday        uint8
day_of_week_x_Wednesday      uint8
cloud_coverage_Clear         uint8
cloud_coverage_Clouds        uint8
cloud_coverage_Drizzle       uint8
cloud_coverage_Fog           uint8
cloud_coverage_Mist          uint8
cloud_coverage_Rain          uint8
dtype: object

## ML model
In order to predict our two target variables
- **number of available bikes**
- **number of available bike stands**
we need two differnt ML models that are trained in the following section.
After having tested the regression model as a viable alternative, we decided to implement a Random Forest classifier model, as it proves to be a more effective predictor.

**N.B.**: we train our models on a random selection of 2/3 of the original dataset. We perform testing on the remaining 1/3.

### Predict the number of available bikes

#### Model training

In [26]:
# Select model features and store them in a new dataframe
input_model = pd.DataFrame(mergedStuff[['number', 'hour_d', 'mins', 'temperature', 'wind_speed', 'day_of_week_x_Friday', 'day_of_week_x_Monday', 'day_of_week_x_Saturday', 'day_of_week_x_Sunday', 'day_of_week_x_Thursday', 'day_of_week_x_Tuesday', 'day_of_week_x_Wednesday', 'cloud_coverage_Clear', 'cloud_coverage_Clouds', 'cloud_coverage_Drizzle', 'cloud_coverage_Fog', 'cloud_coverage_Mist', 'cloud_coverage_Rain']])

# Define target variable
output = mergedStuff['available_bikes']

# Split dataset to train and test
X_train,X_test,Y_train,Y_test=train_test_split(input_model,output,test_size=0.33,random_state=42)
print("Training the model on %s rows and %s columns." % X_train.shape)

# Instantiate RandomForestRegressor object calling 100 decision tree models
rf = RandomForestRegressor(n_estimators=100)

# Train the model
rf.fit(X_train, Y_train)

print("Testing the model on %s rows." % Y_test.shape[0])

Training the model on 33160 rows and 18 columns.
Testing the model on 16334 rows.

In [ ]:
#LinearReg=LinearRegression()
#LinearReg.fit(X_train,Y_train)

In [27]:
#pred=LinearReg.predict(X_test)
#pred1=pd.DataFrame(pred)
#print (pred1)
#print(X_test)
#print(np.array(X_test))

       number  hour_d  mins  temperature  wind_speed  day_of_week_x_Friday  \
43622      56       9    43         7.60         7.7                     0
26241      17      17    42         8.13         1.5                     0
35910     100      18    31         9.22         3.6                     0
47119      21      15    48         9.08         5.1                     1
11478      25       6    22         5.54         4.6                     0
17179     108       8    37         8.41         9.3                     1
26554      88      22    42         4.68         1.0                     0
6927       67       1    48         4.32         1.5                     0
30006      76       1    22         4.21         2.1                     0
16028      33       2    40         4.27         6.2                     0
24385      24      22    39         9.64         5.1                     0
13360      45      17     8         1.46         8.7                     0
14737     102      10     9         3.51         3.6                     0
29298      91       9    58         8.70         5.1                     0
11605      78       8    52         6.29         3.1                     0
12815      60       9    53         6.10         3.1                     0
26150     102      17    30         8.27         2.1                     0
48114     100      13     1         8.82         8.7                     0
13920      87       0     9         1.39         5.7                     0
8530       47       2    34         5.31         0.5                     0
10444      38      10    36        10.44         2.6                     1
9672       37      19    50         8.93         4.1                     0
4962       40      19    47         8.01         2.6                     0
38133     104      23    22         4.04         5.7                     0
23314      62       0    50        11.48         3.1                     0
28661      36      23     9         7.09         1.0                     0
24396       3      22    39         9.64         5.1                     0
33555      28      14     4        11.52         3.1                     0
35431      71       7    54         7.65         3.1                     0
5395       65       3    32         2.90         1.5                     0
...       ...     ...   ...          ...         ...                   ...
27619     102       1     7         6.60         7.2                     0
4227       60       7     1         5.16         3.1                     0
35244       3       2    54         7.53         4.1                     0
47616      49       2    12         7.32         6.7                     0
37186      48       2     9         2.13         5.7                     0
3406       23      18    45         9.51         4.6                     0
25836      36      11    53         7.92         3.1                     0
46030      61      12    58        10.52         2.6                     0
41015      83      19    15         7.31         3.6                     0
5557       74       8    32         3.05         0.5                     0
25902      17      12     5         7.72         3.6                     0
9592       41      17    35        10.02         5.7                     0
48229      64      18     1         7.98         8.2                     0
41994     105      16    40         9.71         7.2                     0
6597       49      21     3         7.44         1.5                     0
15825       6       2    25         4.15         6.2                     0
23417      45       1     2        11.47         3.6                     0
12249       7      23    38         6.29         6.7                     0
12558      14       7    23         6.06         4.6                     0
5992      108      13    32        14.50         2.6                     0
9238       15      12    20         9.13         0.5                     0
4430       90      12    16        12.00         2.6                     0
38574      73       9    23         5.69         8.7                     0
28397      67      17    32        10.12         3.6                     0
11370      94       3    52         7.02         4.1                     0
8451      100       0    19         5.17         2.6                     0
3165       30      16    15        11.73         3.1                     0
8105      111      21    34         6.11         1.5                     0
30235      69       6    59         4.64         2.6                     0
21690      28      12    12        11.25         5.7                     0

       day_of_week_x_Monday  day_of_week_x_Saturday  day_of_week_x_Sunday  \
43622                     0                       0                     0
26241                     0                       1                     0
35910                     1                       0                     0
47119                     0                       0                     0
11478                     0                       1                     0
17179                     0                       0                     0
26554                     0                       1                     0
6927                      0                       0                     0
30006                     0                       0                     0
16028                     0                       0                     0
24385                     0                       0                     0
13360                     0                       0                     1
14737                     1                       0                     0
29298                     0                       0                     0
11605                     0                       1                     0
12815                     0                       0                     1
26150                     0                       1                     0
48114                     0                       1                     0
13920                     1                       0                     0
8530                      0                       0                     0
10444                     0                       0                     0
9672                      0                       0                     0
4962                      1                       0                     0
38133                     0                       0                     0
23314                     0                       0                     0
28661                     1                       0                     0
24396                     0                       0                     0
33555                     0                       1                     0
35431                     1                       0                     0
5395                      0                       0                     0
...                     ...                     ...                   ...
27619                     1                       0                     0
4227                      1                       0                     0
35244                     1                       0                     0
47616                     0                       1                     0
37186                     0                       0                     0
3406                      0                       0                     1
25836                     0                       1                     0
46030                     0                       0                     0
41015                     0                       1                     0
5557                      0                       0                     0
25902                     0                       1                     0
9592                      0                       0                     0
48229                     0                       1                     0
41994                     0                       0                     1
6597                      0                       0                     0
15825                     0                       0                     0
23417                     0                       0                     0
12249                     0                       1                     0
12558                     0                       0                     1
5992                      0                       0                     0
9238                      0                       0                     0
4430                      1                       0                     0
38574                     0                       0                     0
28397                     1                       0                     0
11370                     0                       1                     0
8451                      0                       0                     0
3165                      0                       0                     1
8105                      0                       0                     0
30235                     0                       0                     0
21690                     0                       0                     0

       day_of_week_x_Thursday  day_of_week_x_Tuesday  day_of_week_x_Wednesday  \
43622                       0                      1                        0
26241                       0                      0                        0
35910                       0                      0                        0
47119                       0                      0                        0
11478                       0                      0                        0
17179                       0                      0                        0
26554                       0                      0                        0
6927                        0                      0                        1
30006                       0                      0                        1
16028                       0                      1                        0
24385                       1                      0                        0
13360                       0                      0                        0
14737                       0                      0                        0
29298                       0                      1                        0
11605                       0                      0                        0
12815                       0                      0                        0
26150                       0                      0                        0
48114                       0                      0                        0
13920                       0                      0                        0
8530                        1                      0                        0
10444                       0                      0                        0
9672                        1                      0                        0
4962                        0                      0                        0
38133                       0                      0                        1
23314                       1                      0                        0
28661                       0                      0                        0
24396                       1                      0                        0
33555                       0                      0                        0
35431                       0                      0                        0
5395                        0                      1                        0
...                       ...                    ...                      ...
27619                       0                      0                        0
4227                        0                      0                        0
35244                       0                      0                        0
47616                       0                      0                        0
37186                       0                      0                        1
3406                        0                      0                        0
25836                       0                      0                        0
46030                       1                      0                        0
41015                       0                      0                        0
5557                        0                      1                        0
25902                       0                      0                        0
9592                        1                      0                        0
48229                       0                      0                        0
41994                       0                      0                        0
6597                        0                      1                        0
15825                       0                      1                        0
23417                       1                      0                        0
12249                       0                      0                        0
12558                       0                      0                        0
5992                        0                      1                        0
9238                        1                      0                        0
4430                        0                      0                        0
38574                       1                      0                        0
28397                       0                      0                        0
11370                       0                      0                        0
8451                        1                      0                        0
3165                        0                      0                        0
8105                        0                      0                        1
30235                       0                      0                        1
21690                       0                      1                        0

       cloud_coverage_Clear  cloud_coverage_Clouds  cloud_coverage_Drizzle  \
43622                     0                      1                       0
26241                     0                      1                       0
35910                     0                      1                       0
47119                     0                      1                       0
11478                     0                      1                       0
17179                     0                      1                       0
26554                     0                      1                       0
6927                      0                      1                       0
30006                     0                      1                       0
16028                     0                      1                       0
24385                     0                      1                       0
13360                     0                      0                       0
14737                     0                      0                       0
29298                     0                      1                       0
11605                     0                      0                       0
12815                     0                      0                       0
26150                     0                      1                       0
48114                     0                      1                       0
13920                     0                      0                       0
8530                      0                      0                       0
10444                     1                      0                       0
9672                      0                      0                       0
4962                      0                      1                       0
38133                     0                      0                       0
23314                     0                      1                       0
28661                     0                      1                       0
24396                     0                      1                       0
33555                     0                      1                       0
35431                     0                      1                       0
5395                      0                      1                       0
...                     ...                    ...                     ...
27619                     0                      1                       0
4227                      0                      1                       0
35244                     0                      1                       0
47616                     0                      1                       0
37186                     0                      1                       0
3406                      0                      0                       0
25836                     0                      1                       0
46030                     0                      1                       0
41015                     1                      0                       0
5557                      0                      1                       0
25902                     0                      1                       0
9592                      0                      0                       1
48229                     0                      1                       0
41994                     0                      1                       0
6597                      1                      0                       0
15825                     0                      0                       0
23417                     0                      1                       0
12249                     0                      0                       0
12558                     0                      0                       0
5992                      0                      1                       0
9238                      0                      0                       0
4430                      0                      1                       0
38574                     0                      1                       0
28397                     0                      1                       0
11370                     0                      0                       0
8451                      0                      0                       0
3165                      0                      0                       0
8105                      0                      0                       0
30235                     0                      1                       0
21690                     0                      1                       0

       cloud_coverage_Fog  cloud_coverage_Mist  cloud_coverage_Rain
43622                   0                    0                    0
26241                   0                    0                    0
35910                   0                    0                    0
47119                   0                    0                    0
11478                   0                    0                    0
17179                   0                    0                    0
26554                   0                    0                    0
6927                    0                    0                    0
30006                   0                    0                    0
16028                   0                    0                    0
24385                   0                    0                    0
13360                   0                    0                    1
14737                   0                    0                    1
29298                   0                    0                    0
11605                   0                    0                    1
12815                   0                    0                    1
26150                   0                    0                    0

In [28]:
# Show test data
print(X_test)

       number  hour_d  mins  temperature  wind_speed  day_of_week_x_Friday  \
43622      56       9    43         7.60         7.7                     0
26241      17      17    42         8.13         1.5                     0
35910     100      18    31         9.22         3.6                     0
47119      21      15    48         9.08         5.1                     1
11478      25       6    22         5.54         4.6                     0
17179     108       8    37         8.41         9.3                     1
26554      88      22    42         4.68         1.0                     0
6927       67       1    48         4.32         1.5                     0
30006      76       1    22         4.21         2.1                     0
16028      33       2    40         4.27         6.2                     0
24385      24      22    39         9.64         5.1                     0
13360      45      17     8         1.46         8.7                     0
14737     102      10     9         3.51         3.6                     0
29298      91       9    58         8.70         5.1                     0
11605      78       8    52         6.29         3.1                     0
12815      60       9    53         6.10         3.1                     0
26150     102      17    30         8.27         2.1                     0
48114     100      13     1         8.82         8.7                     0
13920      87       0     9         1.39         5.7                     0
8530       47       2    34         5.31         0.5                     0
10444      38      10    36        10.44         2.6                     1
9672       37      19    50         8.93         4.1                     0
4962       40      19    47         8.01         2.6                     0
38133     104      23    22         4.04         5.7                     0
23314      62       0    50        11.48         3.1                     0
28661      36      23     9         7.09         1.0                     0
24396       3      22    39         9.64         5.1                     0
33555      28      14     4        11.52         3.1                     0
35431      71       7    54         7.65         3.1                     0
5395       65       3    32         2.90         1.5                     0
...       ...     ...   ...          ...         ...                   ...
27619     102       1     7         6.60         7.2                     0
4227       60       7     1         5.16         3.1                     0
35244       3       2    54         7.53         4.1                     0
47616      49       2    12         7.32         6.7                     0
37186      48       2     9         2.13         5.7                     0
3406       23      18    45         9.51         4.6                     0
25836      36      11    53         7.92         3.1                     0
46030      61      12    58        10.52         2.6                     0
41015      83      19    15         7.31         3.6                     0
5557       74       8    32         3.05         0.5                     0
25902      17      12     5         7.72         3.6                     0
9592       41      17    35        10.02         5.7                     0
48229      64      18     1         7.98         8.2                     0
41994     105      16    40         9.71         7.2                     0
6597       49      21     3         7.44         1.5                     0
15825       6       2    25         4.15         6.2                     0
23417      45       1     2        11.47         3.6                     0
12249       7      23    38         6.29         6.7                     0
12558      14       7    23         6.06         4.6                     0
5992      108      13    32        14.50         2.6                     0
9238       15      12    20         9.13         0.5                     0
4430       90      12    16        12.00         2.6                     0
38574      73       9    23         5.69         8.7                     0
28397      67      17    32        10.12         3.6                     0
11370      94       3    52         7.02         4.1                     0
8451      100       0    19         5.17         2.6                     0
3165       30      16    15        11.73         3.1                     0
8105      111      21    34         6.11         1.5                     0
30235      69       6    59         4.64         2.6                     0
21690      28      12    12        11.25         5.7                     0

       day_of_week_x_Monday  day_of_week_x_Saturday  day_of_week_x_Sunday  \
43622                     0                       0                     0
26241                     0                       1                     0
35910                     1                       0                     0
47119                     0                       0                     0
11478                     0                       1                     0
17179                     0                       0                     0
26554                     0                       1                     0
6927                      0                       0                     0
30006                     0                       0                     0
16028                     0                       0                     0
24385                     0                       0                     0
13360                     0                       0                     1
14737                     1                       0                     0
29298                     0                       0                     0
11605                     0                       1                     0
12815                     0                       0                     1
26150                     0                       1                     0
48114                     0                       1                     0
13920                     1                       0                     0
8530                      0                       0                     0
10444                     0                       0                     0
9672                      0                       0                     0
4962                      1                       0                     0
38133                     0                       0                     0
23314                     0                       0                     0
28661                     1                       0                     0
24396                     0                       0                     0
33555                     0                       1                     0
35431                     1                       0                     0
5395                      0                       0                     0
...                     ...                     ...                   ...
27619                     1                       0                     0
4227                      1                       0                     0
35244                     1                       0                     0
47616                     0                       1                     0
37186                     0                       0                     0
3406                      0                       0                     1
25836                     0                       1                     0
46030                     0                       0                     0
41015                     0                       1                     0
5557                      0                       0                     0
25902                     0                       1                     0
9592                      0                       0                     0
48229                     0                       1                     0
41994                     0                       0                     1
6597                      0                       0                     0
15825                     0                       0                     0
23417                     0                       0                     0
12249                     0                       1                     0
12558                     0                       0                     1
5992                      0                       0                     0
9238                      0                       0                     0
4430                      1                       0                     0
38574                     0                       0                     0
28397                     1                       0                     0
11370                     0                       1                     0
8451                      0                       0                     0
3165                      0                       0                     1
8105                      0                       0                     0
30235                     0                       0                     0
21690                     0                       0                     0

       day_of_week_x_Thursday  day_of_week_x_Tuesday  day_of_week_x_Wednesday  \
43622                       0                      1                        0
26241                       0                      0                        0
35910                       0                      0                        0
47119                       0                      0                        0
11478                       0                      0                        0
17179                       0                      0                        0
26554                       0                      0                        0
6927                        0                      0                        1
30006                       0                      0                        1
16028                       0                      1                        0
24385                       1                      0                        0
13360                       0                      0                        0
14737                       0                      0                        0
29298                       0                      1                        0
11605                       0                      0                        0
12815                       0                      0                        0
26150                       0                      0                        0
48114                       0                      0                        0
13920                       0                      0                        0
8530                        1                      0                        0
10444                       0                      0                        0
9672                        1                      0                        0
4962                        0                      0                        0
38133                       0                      0                        1
23314                       1                      0                        0
28661                       0                      0                        0
24396                       1                      0                        0
33555                       0                      0                        0
35431                       0                      0                        0
5395                        0                      1                        0
...                       ...                    ...                      ...
27619                       0                      0                        0
4227                        0                      0                        0
35244                       0                      0                        0
47616                       0                      0                        0
37186                       0                      0                        1
3406                        0                      0                        0
25836                       0                      0                        0
46030                       1                      0                        0
41015                       0                      0                        0
5557                        0                      1                        0
25902                       0                      0                        0
9592                        1                      0                        0
48229                       0                      0                        0
41994                       0                      0                        0
6597                        0                      1                        0
15825                       0                      1                        0
23417                       1                      0                        0
12249                       0                      0                        0
12558                       0                      0                        0
5992                        0                      1                        0
9238                        1                      0                        0
4430                        0                      0                        0
38574                       1                      0                        0
28397                       0                      0                        0
11370                       0                      0                        0
8451                        1                      0                        0
3165                        0                      0                        0
8105                        0                      0                        1
30235                       0                      0                        1
21690                       0                      1                        0

       cloud_coverage_Clear  cloud_coverage_Clouds  cloud_coverage_Drizzle  \
43622                     0                      1                       0
26241                     0                      1                       0
35910                     0                      1                       0
47119                     0                      1                       0
11478                     0                      1                       0
17179                     0                      1                       0
26554                     0                      1                       0
6927                      0                      1                       0
30006                     0                      1                       0
16028                     0                      1                       0
24385                     0                      1                       0
13360                     0                      0                       0
14737                     0                      0                       0
29298                     0                      1                       0
11605                     0                      0                       0
12815                     0                      0                       0
26150                     0                      1                       0
48114                     0                      1                       0
13920                     0                      0                       0
8530                      0                      0                       0
10444                     1                      0                       0
9672                      0                      0                       0
4962                      0                      1                       0
38133                     0                      0                       0
23314                     0                      1                       0
28661                     0                      1                       0
24396                     0                      1                       0
33555                     0                      1                       0
35431                     0                      1                       0
5395                      0                      1                       0
...                     ...                    ...                     ...
27619                     0                      1                       0
4227                      0                      1                       0
35244                     0                      1                       0
47616                     0                      1                       0
37186                     0                      1                       0
3406                      0                      0                       0
25836                     0                      1                       0
46030                     0                      1                       0
41015                     1                      0                       0
5557                      0                      1                       0
25902                     0                      1                       0
9592                      0                      0                       1
48229                     0                      1                       0
41994                     0                      1                       0
6597                      1                      0                       0
15825                     0                      0                       0
23417                     0                      1                       0
12249                     0                      0                       0
12558                     0                      0                       0
5992                      0                      1                       0
9238                      0                      0                       0
4430                      0                      1                       0
38574                     0                      1                       0
28397                     0                      1                       0
11370                     0                      0                       0
8451                      0                      0                       0
3165                      0                      0                       0
8105                      0                      0                       0
30235                     0                      1                       0
21690                     0                      1                       0

       cloud_coverage_Fog  cloud_coverage_Mist  cloud_coverage_Rain
43622                   0                    0                    0
26241                   0                    0                    0
35910                   0                    0                    0
47119                   0                    0                    0
11478                   0                    0                    0
17179                   0                    0                    0
26554                   0                    0                    0
6927                    0                    0                    0
30006                   0                    0                    0
16028                   0                    0                    0
24385                   0                    0                    0
13360                   0                    0                    1
14737                   0                    0                    1
29298                   0                    0                    0
11605                   0                    0                    1
12815                   0                    0                    1
26150                   0                    0                    0

#### Model testing

In [29]:
# Get prediction for test cases
prediction = rf.predict(X_test)

# Show the predicted test cases
print(prediction)
print(Y_test)

[31.94  7.43 16.2  ... 24.01 14.68  9.  ]
43622    40
26241     6
35910    16
47119    15
11478     6
17179     0
26554     3
6927     36
30006    21
16028     1
24385    15
13360    23
14737     0
29298     6
11605    28
12815    18
26150    24
48114    16
13920     9
8530      0
10444     5
9672      1
4962      4
38133    18
23314     0
28661     0
24396     7
33555    22
35431    13
5395      0
         ..
27619    12
4227     22
35244    20
47616     3
37186     0
3406     23
25836    12
46030     0
41015     5
5557      4
25902     5
9592      2
48229     2
41994     1
6597      0
15825     1
23417    15
12249     7
12558    21
5992      0
9238      0
4430     38
38574     2
28397    18
11370    19
8451     24
3165      3
8105     28
30235    14
21690     0
Name: available_bikes, Length: 16334, dtype: int64

#### Model evaluation
In order to evaluate the prediction effectiveness of our model, we compute the **root-mean-square deviation**, defined as the standard deviation of the residuals (prediction errors).

In [34]:
print("RMSE: %f" % np.sqrt(metrics.mean_squared_error(Y_test,prediction)))

RMSE: 5.760331

#### Module integration
In order to connect the ML model to our Flask web application, we need to produce a 'prediction-data' file from the trained model using the **Pickle** Python module.<br/>
Pickle allows us to store the prediction model in a file that we save on the server, in order to be used by the application to actually deliver a prediction based on the requested stations by the user.

In [ ]:
import pickle

pickle.dump(rf, open('final_prediction.pickle', 'wb'))

In [ ]:
# This is not strictly functional to the application
random_forest = pickle.load(open("final_prediction.pickle", "rb"))

### Predict the number of available bike stands

#### Model training

In [42]:
# Select model features and store them in a new dataframe
input_model_available_bike_stands = pd.DataFrame(mergedStuff[['number', 'hour_d', 'mins', 'temperature', 'wind_speed', 'day_of_week_x_Friday', 'day_of_week_x_Monday', 'day_of_week_x_Saturday', 'day_of_week_x_Sunday', 'day_of_week_x_Thursday', 'day_of_week_x_Tuesday', 'day_of_week_x_Wednesday', 'cloud_coverage_Clear', 'cloud_coverage_Clouds', 'cloud_coverage_Drizzle', 'cloud_coverage_Fog', 'cloud_coverage_Mist', 'cloud_coverage_Rain']])

# Define target variable
output_bike_stands=mergedStuff['available_bike_stands']

# Split dataset to train and test
X_train_2, X_test_2, Y_train_2, Y_test_2 = train_test_split(input_model_available_bike_stands, output_bike_stands, test_size = 0.33, random_state = 42)

print("Training the model on %s rows and %s columns." % X_train_2.shape)

# Instantiate RandomForestRegressor object calling 100 decision tree models
rf_2 = RandomForestRegressor(n_estimators = 100)

# Train the model
rf_2.fit(X_train_2, Y_train_2)

print("Testing the model on %s rows." % Y_test_2.shape[0])

Training the model on 33160 rows and 18 columns.
Testing the model on 16334 rows.

#### Model testing

In [43]:
# Get prediction for test cases
prediction_bike_stands = rf_2.predict(X_test_2)

# Show the predicted test cases
print (prediction_bike_stands)
print(Y_test_2)

[ 7.58 13.34  7.2  ... 16.96 24.27 20.73]
43622     0
26241    14
35910     9
47119    15
11478    24
17179    40
26554    27
6927      4
30006    17
16028    22
24385     5
13360     7
14737    40
29298    23
11605    12
12815    12
26150    16
48114     9
13920    29
8530     40
10444    35
9672     29
4962     17
38133    22
23314    40
28661    40
24396    13
33555     8
35431    27
5395     40
         ..
27619    28
4227      8
35244     0
47616    37
37186    40
3406      7
25836    28
46030    25
41015    35
5557     26
25902    15
9592     18
48229    38
41994    35
6597     40
15825    19
23417    15
12249    22
12558     9
5992     40
9238     16
4430      2
38574    28
28397    22
11370    21
8451      1
3165     17
8105     12
30235    26
21690    30
Name: available_bike_stands, Length: 16334, dtype: int64

#### Model evaluation
In order to evaluate the prediction effectiveness of our model, we compute the **root-mean-square deviation**, defined as the standard deviation of the residuals (prediction errors).

In [39]:
print("RMSE: %f" % np.sqrt(metrics.mean_squared_error(Y_test_2,prediction_bike_stands)))

RMSE: 5.794453

#### Module integration
In order to connect the ML model to our Flask web application, we need to produce a 'prediction-data' file from the trained model using the **Pickle** Python module.<br/>
Pickle allows us to store the prediction model in a file that we save on the server, in order to be used by the application to actually deliver a prediction based on the requested stations by the user.

In [40]:
import pickle

pickle.dump(rf_2,open('final_prediction_bike_stands.pickle', 'wb'))

In [41]:
# This is not strictly functional to the application
random_forest_stands=pickle.load(open("final_prediction_bike_stands.pickle", "rb"))