### Model to predict number of available bikes

In [57]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
pd.options.mode.chained_assignment=None
%matplotlib inline
import os
import pymysql
import pandas as pd

host = 'dublinbikes.cb2pu3bkmmlf.us-east-2.rds.amazonaws.com'
user = 'master'
password = 'master-50'
db = 'dublinbikes'
try:
    con = pymysql.connect(host=host,user=user,password=password,db=db, use_unicode=True, charset='utf8')
    print('+=========================+')
    print('|  CONNECTED TO DATABASE  |')
    print('+=========================+')
    
except Exception as e:
        sys.exit('error',e)



#cur = con.cursor()
#cur.execute("SELECT * FROM dublinbikes.availability")
#data = cur.fetchall()
df = pd.read_sql_query("SELECT * FROM dublinbikes.availability",con)
df.head(10)

+=========================+
|  CONNECTED TO DATABASE  |
+=========================+

,ID,number,available_bikes,available_bike_stands,last_update,day_of_week,hour_d,mins,date_of_fetching
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22

In [58]:
df.shape

df.head(329)

,ID,number,available_bikes,available_bike_stands,last_update,day_of_week,hour_d,mins,date_of_fetching
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22
10,11,13,0,30,2147483647,Friday,22,13,2019-02-22
11,12,43,26,4,2147483647,Friday,22,13,2019-02-22
12,13,81,10,30,2147483647,Friday,22,13,2019-02-22
13,14,31,17,2,2147483647,Friday,22,13,2019-02-22
14,15,98,23,17,2147483647,Friday,22,13,2019-02-22
15,16,14,29,1,2147483647,Friday,22,13,2019-02-22
16,17,23,29,1,2147483647,Friday,22,13,2019-02-22
17,18,106,8,32,2147483647,Friday,22,13,2019-02-22
18,19,112,22,8,2147483647,Friday,22,13,2019-02-22
19,20,68,16,24,2147483647,Friday,22,13,2019-02-22
20,21,74,27,3,2147483647,Friday,22,13,2019-02-22
21,22,87,18,20,2147483647,Friday,22,13,2019-02-22
22,23,84,28,2,2147483647,Friday,22,13,2019-02-22
23,24,90,0,40,2147483647,Friday,22,13,2019-02-22
24,25,11,0,30,2147483647,Friday,22,13,2019-02-22
25,26,17,0,20,2147483647,Friday,22,13,2019-02-22
26,27,45,9,21,2147483647,Friday,22,13,2019-02-22
27,28,114,0,40,2147483647,Friday,22,13,2019-02-22
28,29,72,14,17,2147483647,Friday,22,13,2019-02-22
29,30,63,19,16,2147483647,Friday,22,13,2019-02-22
...,...,...,...,...,...,...,...,...,...
299,300,93,36,4,2147483647,Friday,22,28,2019-02-22
300,301,22,9,11,2147483647,Friday,22,28,2019-02-22
301,302,50,17,23,2147483647,Friday,22,28,2019-02-22
302,303,110,5,35,2147483647,Friday,22,28,2019-02-22
303,304,12,14,6,2147483647,Friday,22,28,2019-02-22
304,305,34,19,11,2147483647,Friday,22,28,2019-02-22
305,306,78,17,23,2147483647,Friday,22,28,2019-02-22
306,307,2,1,19,2147483647,Friday,22,28,2019-02-22
307,308,75,7,33,2147483647,Friday,22,28,2019-02-22
308,309,111,15,25,2147483647,Friday,22,28,2019-02-22
309,310,26,7,13,2147483647,Friday,22,28,2019-02-22
310,311,65,1,39,2147483647,Friday,22,28,2019-02-22
311,312,15,5,11,2147483647,Friday,22,28,2019-02-22
312,313,86,38,0,2147483647,Friday,22,28,2019-02-22
313,314,35,7,23,2147483647,Friday,22,28,2019-02-22
314,315,10,16,0,2147483647,Friday,22,28,2019-02-22
315,316,100,11,14,2147483647,Friday,22,28,2019-02-22
316,317,24,18,2,2147483647,Friday,22,28,2019-02-22
317,318,64,17,23,2147483647,Friday,22,28,2019-02-22
318,319,109,24,5,2147483647,Friday,22,28,2019-02-22
319,320,85,16,19,2147483647,Friday,22,28,2019-02-22
320,321,107,18,22,2147483647,Friday,22,28,2019-02-22
321,322,33,21,2,2147483647,Friday,22,28,2019-02-22
322,323,44,3,27,2147483647,Friday,22,28,2019-02-22
323,324,89,3,37,2147483647,Friday,22,28,2019-02-22
324,325,57,0,23,2147483647,Friday,22,28,2019-02-22
325,326,80,28,12,2147483647,Friday,22,28,2019-02-22
326,327,41,0,20,2147483647,Friday,22,28,2019-02-22
327,328,3,12,8,2147483647,Friday,22,28,2019-02-22
328,329,46,18,2,2147483647,Friday,22,28,2019-02-22

In [59]:
df_2 = pd.read_sql_query("SELECT * FROM dublinbikes.weather",con)

In [60]:
df_2.head(50)

,ID,temperature,day_of_week,wind_speed,cloud_coverage,hour_d,mins,date_of_fetching
0,1,12.58,Friday,4.6,Clouds,22,13,2019-02-22
1,2,11.51,Friday,7.7,Clouds,22,28,2019-02-22
2,3,11.51,Friday,7.7,Clouds,22,43,2019-02-22
3,4,11.51,Friday,7.7,Clouds,22,58,2019-02-22
4,5,11.58,Friday,7.2,Clouds,23,13,2019-02-22
5,6,11.59,Friday,7.2,Clouds,23,28,2019-02-22
6,7,11.51,Friday,7.7,Clouds,23,43,2019-02-22
7,8,11.57,Friday,7.7,Clouds,23,58,2019-02-22
8,9,11.57,Saturday,7.7,Clouds,0,13,2019-02-23
9,10,11.58,Saturday,7.7,Clouds,0,28,2019-02-23
10,11,11.51,Saturday,5.7,Clouds,0,43,2019-02-23
11,12,11.57,Saturday,5.7,Clouds,0,58,2019-02-23
12,13,11.57,Saturday,5.7,Clouds,1,13,2019-02-23
13,14,11.51,Saturday,6.7,Clouds,1,28,2019-02-23
14,15,11.51,Saturday,6.7,Clouds,1,43,2019-02-23
15,16,11.57,Saturday,7.7,Clouds,1,58,2019-02-23
16,17,11.58,Saturday,7.7,Clouds,2,13,2019-02-23
17,18,11.02,Saturday,7.7,Clouds,2,28,2019-02-23
18,19,11.02,Saturday,7.7,Clouds,2,43,2019-02-23
19,20,11.57,Saturday,6.7,Clouds,2,58,2019-02-23
20,21,11.57,Saturday,6.7,Clouds,3,13,2019-02-23
21,22,11.51,Saturday,7.2,Clouds,3,28,2019-02-23
22,23,11.51,Saturday,7.2,Clouds,3,43,2019-02-23
23,24,11.51,Saturday,7.2,Clouds,3,58,2019-02-23
24,25,11.58,Saturday,7.2,Clouds,4,13,2019-02-23
25,26,11.59,Saturday,7.2,Clouds,4,28,2019-02-23
26,27,11.02,Saturday,7.7,Clouds,4,43,2019-02-23
27,28,11.02,Saturday,7.7,Clouds,4,58,2019-02-23
28,29,11.15,Saturday,8.2,Clouds,5,13,2019-02-23
29,30,11.17,Saturday,8.2,Clouds,5,28,2019-02-23
30,31,11.02,Saturday,8.7,Clouds,5,43,2019-02-23
31,32,11.02,Saturday,8.7,Clouds,5,58,2019-02-23
32,33,11.15,Saturday,8.7,Clouds,6,14,2019-02-23
33,34,11.17,Saturday,8.7,Clouds,6,29,2019-02-23
34,35,11.02,Saturday,8.7,Clouds,6,44,2019-02-23
35,36,11.13,Saturday,9.3,Clouds,6,59,2019-02-23
36,37,11.15,Saturday,9.3,Clouds,7,14,2019-02-23
37,38,10.51,Saturday,8.2,Clouds,7,29,2019-02-23
38,39,10.51,Saturday,8.2,Clouds,7,44,2019-02-23
39,40,10.57,Saturday,6.7,Clouds,7,59,2019-02-23
40,41,10.57,Saturday,6.7,Clouds,8,14,2019-02-23
41,42,11.02,Saturday,8.2,Clear,8,29,2019-02-23
42,43,11.02,Saturday,8.2,Clear,8,44,2019-02-23
43,44,11.14,Saturday,5.7,Clear,8,59,2019-02-23
44,45,11.15,Saturday,5.7,Clear,9,14,2019-02-23
45,46,11.51,Saturday,4.1,Clear,9,29,2019-02-23
46,47,11.51,Saturday,4.1,Clear,9,44,2019-02-23
47,48,12.00,Saturday,4.1,Clouds,9,59,2019-02-23
48,49,12.00,Saturday,4.1,Clouds,10,14,2019-02-23
49,50,12.49,Saturday,4.1,Clouds,10,29,2019-02-23

In [61]:
df_2.shape

(4377, 8)

In [62]:
#df.describe().T

In [63]:
print("Unique values for:\n- mins in weather:", pd.unique(df_2.mins.ravel()))

Unique values for:
- mins in weather: [13 28 43 58 14 29 44 59 30 45  0 15 31 46  1 16 32 47  2 17  3 18 33 48
 19 34 49  4  5 20 35 50 21 36 51  6  7 22 37 52 23 38 53  8 24 39 54  9
 10 25 40 55 11 26 41 56 57 12 27 42]

In [64]:
print("Unique values for:\n- mins in availability:", pd.unique(df.mins.ravel()))

Unique values for:
- mins in availability: [13 21 28 35 42 49 56  3 10 18 25 32 39 46 53  0  8 15 22 29 36 43 50 57
  5 12 19 26 33 40 48 55  2  9 16 23 30 38 45 52 59  6 20 17  7 47 37 27
  4 11  1 51 58 41 24 31 14 54 44 34]

In [65]:
#set(df['mins']).intersection(set(df_2['mins']))

In [66]:
#set(df['mins']).union(set(df_2['mins']))

In [67]:
mergedStuff = pd.merge(df, df_2, on=['mins','date_of_fetching','hour_d'], how='inner')
mergedStuff.head(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,temperature,day_of_week_y,wind_speed,cloud_coverage
0,1,42,12,18,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
1,2,30,3,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
2,3,54,4,29,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
3,4,108,11,28,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
4,5,56,2,38,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
5,6,6,5,14,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
6,7,18,14,16,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
7,8,32,24,6,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
8,9,52,0,32,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
9,10,48,3,37,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
10,11,13,0,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
11,12,43,26,4,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
12,13,81,10,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
13,14,31,17,2,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
14,15,98,23,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
15,16,14,29,1,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
16,17,23,29,1,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
17,18,106,8,32,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
18,19,112,22,8,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
19,20,68,16,24,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
20,21,74,27,3,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
21,22,87,18,20,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
22,23,84,28,2,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
23,24,90,0,40,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
24,25,11,0,30,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
25,26,17,0,20,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
26,27,45,9,21,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
27,28,114,0,40,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
28,29,72,14,17,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
29,30,63,19,16,2147483647,Friday,22,13,2019-02-22,1,12.58,Friday,4.6,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,310,26,7,13,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
197,311,65,1,39,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
198,312,15,5,11,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
199,313,86,38,0,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
200,314,35,7,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
201,315,10,16,0,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
202,316,100,11,14,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
203,317,24,18,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
204,318,64,17,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
205,319,109,24,5,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
206,320,85,16,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
207,321,107,18,22,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
208,322,33,21,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
209,323,44,3,27,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
210,324,89,3,37,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
211,325,57,0,23,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
212,326,80,28,12,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
213,327,41,0,20,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
214,328,3,12,8,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
215,329,46,18,2,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
216,330,40,0,21,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
217,331,29,18,11,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
218,332,70,3,25,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
219,333,103,9,31,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
220,334,28,11,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
221,335,39,2,18,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
222,336,83,39,1,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
223,337,92,39,1,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
224,338,21,11,19,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds
225,339,88,18,12,2147483647,Friday,22,28,2019-02-22,2,11.51,Friday,7.7,Clouds

In [68]:
mergedStuff.tail(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,temperature,day_of_week_y,wind_speed,cloud_coverage
39324,522626,42,0,30,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39325,522627,30,5,15,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39326,522628,54,3,30,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39327,522629,108,0,40,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39328,522630,56,0,40,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39329,522631,6,0,20,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39330,522632,18,24,6,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39331,522633,32,22,8,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39332,522634,52,16,16,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39333,522635,48,15,25,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39334,522636,13,5,25,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39335,522637,43,17,13,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39336,522638,81,6,34,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39337,522639,31,4,16,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39338,522640,98,0,40,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39339,522641,14,10,20,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39340,522642,23,29,0,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39341,522643,106,25,15,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39342,522644,112,14,16,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39343,522645,68,21,19,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39344,522646,74,18,12,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39345,522647,87,14,24,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39346,522648,84,14,16,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39347,522649,90,17,23,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39348,522650,11,7,23,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39349,522651,17,0,20,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39350,522652,45,20,10,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39351,522653,114,6,34,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39352,522654,72,2,29,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
39353,522655,63,3,32,2147483647,Friday,6,12,2019-04-05,4360,0.27,Friday,3.1,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39520,522822,26,2,18,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39521,522823,65,24,16,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39522,522824,15,3,13,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39523,522825,86,11,27,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39524,522826,35,1,29,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39525,522827,10,3,13,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39526,522828,100,19,6,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39527,522829,24,10,10,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39528,522830,64,13,27,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39529,522831,109,22,7,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39530,522832,85,7,28,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39531,522833,107,16,24,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39532,522834,33,17,6,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39533,522835,44,19,11,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39534,522836,89,2,38,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39535,522837,57,0,23,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39536,522838,80,19,21,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39537,522839,41,0,20,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39538,522840,3,1,19,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39539,522841,46,6,14,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39540,522842,40,8,13,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39541,522843,29,2,27,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39542,522844,70,25,3,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39543,522845,103,18,22,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39544,522846,28,13,17,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39545,522847,39,4,16,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39546,522848,83,18,22,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39547,522849,92,28,12,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39548,522850,21,7,23,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds
39549,522851,88,10,20,2147483647,Friday,6,24,2019-04-05,4361,0.15,Friday,1.0,Clouds

In [69]:
mergedStuff.shape

(39550, 14)

In [70]:
print("Unique values for:\n- clouds in weather:", pd.unique(df_2.cloud_coverage.ravel()))

Unique values for:
- clouds in weather: ['Clouds' 'Clear' 'Rain' 'Fog' 'Drizzle' 'Mist' 'Snow']

In [71]:
#data_input1=pd.DataFrame(Train_data['Sex'])
data_input1= pd.DataFrame(mergedStuff['day_of_week_x'])
data_input2= pd.DataFrame(mergedStuff['cloud_coverage'])
dummy=pd.get_dummies(data_input1)
dummy_2=pd.get_dummies(data_input2)
mergedStuff=pd.concat([mergedStuff,dummy],axis=1)
mergedStuff=pd.concat([mergedStuff,dummy_2],axis=1)

In [72]:
mergedStuff.tail(226)

,ID_x,number,available_bikes,available_bike_stands,last_update,day_of_week_x,hour_d,mins,date_of_fetching,ID_y,...,day_of_week_x_Sunday,day_of_week_x_Thursday,day_of_week_x_Tuesday,day_of_week_x_Wednesday,cloud_coverage_Clear,cloud_coverage_Clouds,cloud_coverage_Drizzle,cloud_coverage_Fog,cloud_coverage_Mist,cloud_coverage_Rain
39324,522626,42,0,30,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39325,522627,30,5,15,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39326,522628,54,3,30,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39327,522629,108,0,40,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39328,522630,56,0,40,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39329,522631,6,0,20,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39330,522632,18,24,6,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39331,522633,32,22,8,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39332,522634,52,16,16,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39333,522635,48,15,25,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39334,522636,13,5,25,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39335,522637,43,17,13,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39336,522638,81,6,34,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39337,522639,31,4,16,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39338,522640,98,0,40,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39339,522641,14,10,20,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39340,522642,23,29,0,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39341,522643,106,25,15,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39342,522644,112,14,16,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39343,522645,68,21,19,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39344,522646,74,18,12,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39345,522647,87,14,24,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39346,522648,84,14,16,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39347,522649,90,17,23,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39348,522650,11,7,23,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39349,522651,17,0,20,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39350,522652,45,20,10,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39351,522653,114,6,34,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39352,522654,72,2,29,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
39353,522655,63,3,32,2147483647,Friday,6,12,2019-04-05,4360,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39520,522822,26,2,18,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39521,522823,65,24,16,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39522,522824,15,3,13,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39523,522825,86,11,27,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39524,522826,35,1,29,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39525,522827,10,3,13,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39526,522828,100,19,6,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39527,522829,24,10,10,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39528,522830,64,13,27,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39529,522831,109,22,7,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39530,522832,85,7,28,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39531,522833,107,16,24,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39532,522834,33,17,6,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39533,522835,44,19,11,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39534,522836,89,2,38,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39535,522837,57,0,23,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39536,522838,80,19,21,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39537,522839,41,0,20,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39538,522840,3,1,19,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39539,522841,46,6,14,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39540,522842,40,8,13,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39541,522843,29,2,27,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39542,522844,70,25,3,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39543,522845,103,18,22,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39544,522846,28,13,17,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39545,522847,39,4,16,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39546,522848,83,18,22,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39547,522849,92,28,12,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39548,522850,21,7,23,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0
39549,522851,88,10,20,2147483647,Friday,6,24,2019-04-05,4361,...,0,0,0,0,0,1,0,0,0,0

In [73]:
mergedStuff.shape

(39550, 27)

In [74]:
mergedStuff.dtypes

ID_x                         int64
number                       int64
available_bikes              int64
available_bike_stands        int64
last_update                  int64
day_of_week_x               object
hour_d                       int64
mins                         int64
date_of_fetching            object
ID_y                         int64
temperature                float64
day_of_week_y               object
wind_speed                 float64
cloud_coverage              object
day_of_week_x_Friday         uint8
day_of_week_x_Monday         uint8
day_of_week_x_Saturday       uint8
day_of_week_x_Sunday         uint8
day_of_week_x_Thursday       uint8
day_of_week_x_Tuesday        uint8
day_of_week_x_Wednesday      uint8
cloud_coverage_Clear         uint8
cloud_coverage_Clouds        uint8
cloud_coverage_Drizzle       uint8
cloud_coverage_Fog           uint8
cloud_coverage_Mist          uint8
cloud_coverage_Rain          uint8
dtype: object

In [75]:
input_model=pd.DataFrame(mergedStuff[['number','hour_d','mins','temperature','wind_speed','day_of_week_x_Friday','day_of_week_x_Monday','day_of_week_x_Saturday','day_of_week_x_Sunday','day_of_week_x_Thursday','day_of_week_x_Tuesday','day_of_week_x_Wednesday','cloud_coverage_Clear','cloud_coverage_Clouds','cloud_coverage_Drizzle','cloud_coverage_Fog','cloud_coverage_Mist','cloud_coverage_Rain']])
#print(input_model)
output=mergedStuff['available_bikes']
X_train,X_test,Y_train,Y_test=train_test_split(input_model,output,test_size=0.33,random_state=42)
print (X_train.shape)
rf=RandomForestRegressor(n_estimators=100)
rf.fit(X_train,Y_train)
print(Y_test.shape)

(26498, 18)
(13052,)

In [76]:
#LinearReg=LinearRegression()
#LinearReg.fit(X_train,Y_train)

In [80]:
#pred=LinearReg.predict(X_test)
#pred1=pd.DataFrame(pred)
#print (pred1)
print(X_test)

#print(np.array(X_test))

       number  hour_d  mins  temperature  wind_speed  day_of_week_x_Friday  \
38870      21      14    35         5.60        10.8                     0
2116      111       1    44         3.06         1.5                     0
5011       61      22    17         6.13         3.1                     0
34902      57      16    17         9.21         7.2                     0
19850      50      20    40         5.22         7.2                     0
9097       27      12     5         9.04         0.5                     0
23516      81       6     2        10.22         3.6                     0
7119       42       4    18         2.29         2.1                     0
28788      86      23    21         6.11         1.0                     0
25870     103      11    53         7.92         3.1                     0
21218      35       2    27         7.20         2.6                     0
10324      73       8    21         5.23         2.1                     1
27823      17       6    56         4.86         3.6                     0
38256      71       4    23         3.79         7.7                     0
39535      57       6    24         0.15         1.0                     1
21298     115       5    42         6.51         2.6                     0
27707      84       1    19         6.33         7.2                     0
16656       7      23     7        10.56         5.1                     0
16169      13       5    10         5.10         8.2                     0
19537       3      11    10         5.19        11.3                     0
18003      62       0     8         5.34         2.6                     0
4949       24      19    47         8.01         2.6                     0
1736       73      20    44         7.00         1.0                     0
4029       22       2     1         7.41         3.1                     0
35661      51      13    19        11.38         4.1                     0
33700      45      19    16         7.15         4.6                     0
10062       6       5    36         6.95         2.6                     1
32033     115      23    49         6.38         1.5                     0
14913      92      10    24         3.68         3.6                     0
24091      84      17    27        12.75         1.5                     0
...       ...     ...   ...          ...         ...                   ...
407        59       3    13        11.57         6.7                     0
8538       79       2    34         5.31         0.5                     0
1945       11      23    14         4.87         1.5                     0
7469       43      12     3         9.62         5.7                     0
13564      56      19    24         0.45         6.7                     0
14881      34      10    24         3.68         3.6                     0
23276      21      19    13        13.20         3.6                     0
16572      22      18    52         8.39         9.3                     0
26152      53      17    30         8.27         2.1                     0
1357       30      17    59        12.00         3.6                     0
13702      63      19    39         0.46         7.2                     0
19214      56       6    40         1.08         6.2                     0
17876      84      22    23         5.74         3.1                     1
22567       2       3    24         8.71         3.6                     0
16349      12       7    55         5.28         7.2                     0
34534      95      11     5         7.89         5.7                     0
12917      55      12     8         4.25         1.0                     0
35252      83       2    54         7.53         4.1                     0
1414       16      17    59        12.00         3.6                     0
38498      34       9    11         5.24         7.7                     0
11681       4      11    22         9.39         6.2                     0
12166      50      21    22         6.68         6.7                     0
29236     111       9    33         8.40         4.6                     0
33220      21       3    27         6.00         3.1                     0
36532       9      10    20         4.86         7.7                     0
24117      38      17    27        12.75         1.5                     0
35022      70      21    42         5.70         1.5                     0
14335      89       2    54         1.43         5.1                     0
22856     113      14     1        15.94         4.1                     0
10761      45      17    51         9.65         4.1                     1

       day_of_week_x_Monday  day_of_week_x_Saturday  day_of_week_x_Sunday  \
38870                     0                       0                     0
2116                      0                       0                     1
5011                      1                       0                     0
34902                     0                       0                     1
19850                     0                       0                     1
9097                      0                       0                     0
23516                     0                       0                     0
7119                      0                       0                     0
28788                     1                       0                     0
25870                     0                       1                     0
21218                     0                       0                     0
10324                     0                       0                     0
27823                     1                       0                     0
38256                     0                       0                     0
39535                     0                       0                     0
21298                     0                       0                     0
27707                     1                       0                     0
16656                     0                       0                     0
16169                     0                       0                     0
19537                     0                       0                     1
18003                     0                       1                     0
4949                      1                       0                     0
1736                      0                       1                     0
4029                      1                       0                     0
35661                     1                       0                     0
33700                     0                       1                     0
10062                     0                       0                     0
32033                     0                       0                     0
14913                     1                       0                     0
24091                     0                       0                     0
...                     ...                     ...                   ...
407                       0                       1                     0
8538                      0                       0                     0
1945                      0                       1                     0
7469                      0                       0                     0
13564                     0                       0                     1
14881                     1                       0                     0
23276                     0                       0                     0
16572                     0                       0                     0
26152                     0                       1                     0
1357                      0                       1                     0
13702                     0                       0                     1
19214                     0                       0                     1
17876                     0                       0                     0
22567                     0                       0                     0
16349                     0                       0                     0
34534                     0                       0                     1
12917                     0                       0                     1
35252                     1                       0                     0
1414                      0                       1                     0
38498                     0                       0                     0
11681                     0                       1                     0
12166                     0                       1                     0
29236                     0                       0                     0
33220                     0                       1                     0
36532                     0                       0                     0
24117                     0                       0                     0
35022                     0                       0                     1
14335                     1                       0                     0
22856                     0                       0                     0
10761                     0                       0                     0

       day_of_week_x_Thursday  day_of_week_x_Tuesday  day_of_week_x_Wednesday  \
38870                       1                      0                        0
2116                        0                      0                        0
5011                        0                      0                        0
34902                       0                      0                        0
19850                       0                      0                        0
9097                        1                      0                        0
23516                       1                      0                        0
7119                        0                      0                        1
28788                       0                      0                        0
25870                       0                      0                        0
21218                       0                      1                        0
10324                       0                      0                        0
27823                       0                      0                        0
38256                       1                      0                        0
39535                       0                      0                        0
21298                       0                      1                        0
27707                       0                      0                        0
16656                       1                      0                        0
16169                       0                      1                        0
19537                       0                      0                        0
18003                       0                      0                        0
4949                        0                      0                        0
1736                        0                      0                        0
4029                        0                      0                        0
35661                       0                      0                        0
33700                       0                      0                        0
10062                       0                      0                        0
32033                       1                      0                        0
14913                       0                      0                        0
24091                       1                      0                        0
...                       ...                    ...                      ...
407                         0                      0                        0
8538                        1                      0                        0
1945                        0                      0                        0
7469                        0                      0                        1
13564                       0                      0                        0
14881                       0                      0                        0
23276                       0                      0                        1
16572                       1                      0                        0
26152                       0                      0                        0
1357                        0                      0                        0
13702                       0                      0                        0
19214                       0                      0                        0
17876                       0                      0                        0
22567                       0                      0                        1
16349                       0                      1                        0
34534                       0                      0                        0
12917                       0                      0                        0
35252                       0                      0                        0
1414                        0                      0                        0
38498                       1                      0                        0
11681                       0                      0                        0
12166                       0                      0                        0
29236                       0                      1                        0
33220                       0                      0                        0
36532                       0                      1                        0
24117                       1                      0                        0
35022                       0                      0                        0
14335                       0                      0                        0
22856                       0                      0                        1
10761                       0                      0                        0

       cloud_coverage_Clear  cloud_coverage_Clouds  cloud_coverage_Drizzle  \
38870                     0                      0                       0
2116                      0                      1                       0
5011                      0                      1                       0
34902                     0                      1                       0
19850                     0                      1                       0
9097                      0                      0                       0
23516                     0                      1                       0
7119                      0                      0                       0
28788                     0                      1                       0
25870                     0                      1                       0
21218                     0                      1                       0
10324                     1                      0                       0
27823                     0                      1                       0
38256                     0                      1                       0
39535                     0                      1                       0
21298                     0                      1                       0
27707                     0                      1                       0
16656                     0                      0                       0
16169                     0                      0                       0
19537                     0                      0                       0
18003                     0                      0                       0
4949                      0                      1                       0
1736                      1                      0                       0
4029                      0                      0                       0
35661                     0                      1                       0
33700                     0                      1                       0
10062                     0                      1                       0
32033                     1                      0                       0
14913                     0                      0                       0
24091                     0                      1                       0
...                     ...                    ...                     ...
407                       0                      1                       0
8538                      0                      0                       0
1945                      0                      1                       0
7469                      0                      0                       0
13564                     0                      0                       0
14881                     0                      0                       0
23276                     0                      0                       0
16572                     0                      0                       0
26152                     0                      1                       0
1357                      0                      1                       0
13702                     0                      0                       0
19214                     0                      0                       0
17876                     0                      0                       0
22567                     0                      1                       0
16349                     0                      0                       0
34534                     0                      1                       0
12917                     0                      0                       0
35252                     0                      1                       0
1414                      0                      1                       0
38498                     0                      1                       0
11681                     0                      0                       0
12166                     0                      0                       0
29236                     0                      1                       0
33220                     0                      1                       0
36532                     0                      1                       0
24117                     0                      1                       0
35022                     0                      1                       0
14335                     0                      0                       0
22856                     0                      1                       0
10761                     0                      0                       0

       cloud_coverage_Fog  cloud_coverage_Mist  cloud_coverage_Rain
38870                   0                    0                    1
2116                    0                    0                    0
5011                    0                    0                    0
34902                   0                    0                    0
19850                   0                    0                    0
9097                    0                    1                    0
23516                   0                    0                    0
7119                    0                    1                    0
28788                   0                    0                    0
25870                   0                    0                    0
21218                   0                    0                    0
10324                   0                    0                    0
27823                   0                    0                    0
38256                   0                    0                    0
39535                   0                    0                    0
21298                   0                    0                    0
27707                   0                    0                    0

In [81]:
prediction=rf.predict(X_test)
print (prediction)
print(Y_test)

[21.58 18.3   2.53 ...  8.4  28.91 12.09]
38870    15
2116     12
5011      7
34902    11
19850     4
9097     19
23516     3
7119     21
28788    38
25870     0
21218     7
10324     1
27823     4
38256     0
39535     0
21298    27
27707    13
16656    12
16169     1
19537     0
18003     0
4949      2
1736      7
4029     14
35661    14
33700    10
10062     2
32033    30
14913     2
24091     3
         ..
407       4
8538      0
1945      2
7469      1
13564    11
14881    17
23276    16
16572    20
26152     9
1357      3
13702    14
19214    25
17876    19
22567     8
16349     1
34534     0
12917     9
35252    25
1414     11
38498     0
11681     0
12166     3
29236    13
33220     5
36532    21
24117    19
35022    17
14335    10
22856    25
10761    13
Name: available_bikes, Length: 13052, dtype: int64

In [82]:
print(np.sqrt(metrics.mean_squared_error(Y_test,prediction)))

5.820983150955009

In [83]:
import pickle
pickle.dump(rf,open('final_prediction.pickle','wb'))

In [84]:
random_forest=pickle.load(open("final_prediction.pickle","rb"))

### Model to predict number of available bike stands

In [85]:

input_model_available_bike_stands=pd.DataFrame(mergedStuff[['number','hour_d','mins','temperature','wind_speed','day_of_week_x_Friday','day_of_week_x_Monday','day_of_week_x_Saturday','day_of_week_x_Sunday','day_of_week_x_Thursday','day_of_week_x_Tuesday','day_of_week_x_Wednesday','cloud_coverage_Clear','cloud_coverage_Clouds','cloud_coverage_Drizzle','cloud_coverage_Fog','cloud_coverage_Mist','cloud_coverage_Rain']])
output_bike_stands=mergedStuff['available_bike_stands']
X_train_2,X_test_2,Y_train_2,Y_test_2=train_test_split(input_model_available_bike_stands,output_bike_stands,test_size=0.33,random_state=42)
print (X_train_2.shape)
rf_2=RandomForestRegressor(n_estimators=100)
rf_2.fit(X_train_2,Y_train_2)
print(Y_test_2.shape)

(26498, 18)
(13052,)

In [86]:
prediction_bike_stands=rf_2.predict(X_test_2)
print (prediction_bike_stands)
print(Y_test_2)

[ 9.8  19.34 20.87 ... 30.05  8.63 19.2 ]
38870    15
2116     28
5011     18
34902    12
19850    36
9097      1
23516    37
7119      9
28788     0
25870    40
21218    23
10324    29
27823    16
38256    40
39535    23
21298     3
27707    17
16656    17
16169    29
19537    20
18003    40
4949     18
1736     23
4029      6
35661    26
33700    20
10062    18
32033     0
14913    38
24091    27
         ..
407      16
8538     27
1945     28
7469     29
13564    29
14881    13
23276    14
16572     0
26152    31
1357     17
13702    21
19214    15
17876    11
22567    12
16349    19
34534    40
12917    27
35252    15
1414      9
38498    30
11681    20
12166    37
29236    27
33220    25
36532     2
24117    21
35022    11
14335    30
22856    14
10761    17
Name: available_bike_stands, Length: 13052, dtype: int64

In [87]:
print(np.sqrt(metrics.mean_squared_error(Y_test_2,prediction_bike_stands)))

5.915280581118347

In [88]:
import pickle
pickle.dump(rf,open('final_prediction_bike_stands.pickle','wb'))

In [89]:
random_forest_stands=pickle.load(open("final_prediction_bike_stands.pickle","rb"))